body {
  padding: 10px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHUlEQVQImWNgQAOu1q5SKBwUAQwVWFVhqGBgYAAAQjkGGsLyPQ0AAAAASUVORK5CYII=) repeat;
  font-size: 18px;
}
